@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Source Code Pro", system-ui, -apple-system, sans-serif;
  --bg-primary: #001c1c;
  --text-primary: #f1f3f3;
  --button-primary: #efbf04;
  --metadata-1: #7f3fb2;
  --metadata-2: #6699d8;
  --metadata-3: #667f33;
  --metadata-4: #ff0c0c;
}
